.search-results-container {
  min-height: 200px;
}

ion-item {
  --padding-start: 16px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.empty-state {
  margin-top: 40px;
  opacity: 0.6;
}

ion-searchbar {
  --background: var(--ion-color-light);
  font-weight: bold;
}