@if (isLoggedIn()) {
  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="flights" href="/tabs/flights">
        <ion-icon name="airplane"></ion-icon>
        <ion-label>Flights</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="create" href="/tabs/create">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>New Flight</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button tab="board" href="/tabs/board">
        <ion-icon name="people"></ion-icon>
        <ion-label>Boarding</ion-label>
      </ion-tab-button> -->

      <!-- <ion-tab-button tab="settings" href="/tabs/settings">
        <ion-icon name="settings"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>

  </ion-tabs>
}
